body {
	background-color: #d5e5e6;
	margin: 0;
	padding: 3rem 15rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	-webkit-transition: color 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
	-moz-transition: color 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
	-o-transition: color 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
	transition: color 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
}
.header,
h1,
h2 {
	text-align: center;
}
.header {
	font-size: 4rem;
}
h1,
h2 {
	font-family: Raleway;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 3rem;
	text-transform: uppercase;
}
.subtitle {
	font-size: 1rem;
	text-align: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
h2 {
	margin-top: 3rem;
	margin-bottom: 1.25rem;
	font-size: 2rem;
}
pre code {
	display: block;
	background-color: #b5c5c6;
	padding: 1rem 16rem;
	margin: 0 -15rem;
	font-family: "Roboto Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.75rem;
	overflow: auto;
	-webkit-transition: background-color 0.3s, margin 0.3s, padding 0.3s;
	-moz-transition: background-color 0.3s, margin 0.3s, padding 0.3s;
	-o-transition: background-color 0.3s, margin 0.3s, padding 0.3s;
	transition: background-color 0.3s, margin 0.3s, padding 0.3s;
}
a {
	color: inherit;
}
p {
	padding: 1rem;
}
@media screen and (max-width: 75rem) {
	body {
		padding: 3rem;
	}
	pre code {
		padding: 1rem 4rem;
		margin: 0 -3rem;
	}
}
@media screen and (max-width: 50rem) {
	body {
		padding: 3rem 0;
	}
	pre code {
		padding: 1rem;
		margin: 0;
	}
}
